html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;vertical-align:baseline}
body{line-height:1;color:#000;background:#fff}
ol,ul{list-style:none}
table{border-collapse:separate;border-spacing:0;vertical-align:middle}
caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}
a img{border:none}
body{font-family:"Helvetica Neue","Helvetica",Arial,sans-serif;font-size:13px;line-height:20px}
#container{width:960px;margin:50px auto}
#nav{float:left;background-color:#eff2f5;border-left:1px solid #c3cfd9;border-right:1px solid #c3cfd9;width:215px}
#header{position:absolute;top:0;left:0;width:100%;line-height:50px;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #4981ad), color-stop(1, #225785));background:-webkit-linear-gradient(top, #4981ad 0%, #225785 100%);background:-moz-linear-gradient(top, #4981ad 0%, #225785 100%);background:linear-gradient(top, #4981ad 0%, #225785 100%);}
#header a{color:#fff;text-decoration:none;display:block;margin:0 auto;width:960px;font-size:21px;text-shadow:rgba(0,0,0,0.30) 0 1px 1px;font-weight:bold}
#sections{margin-bottom:15px;}
#sections li{-webkit-transition:all .2s ease;-moz-transition:all .2s ease;transition:all .2s ease;position:relative;}
#sections li:hover{-webkit-box-shadow:rgba(0,0,0,0.30) 0 0 3px;-moz-box-shadow:rgba(0,0,0,0.30) 0 0 3px;box-shadow:rgba(0,0,0,0.30) 0 0 3px;z-index:2}
#sections a{color:#3f729b;display:block;font-weight:bold;text-decoration:none;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fefefe), color-stop(1, #fbfbfb));background:-webkit-linear-gradient(top, #fefefe 0%, #fbfbfb 100%);background:-moz-linear-gradient(top, #fefefe 0%, #fbfbfb 100%);background:linear-gradient(top, #fefefe 0%, #fbfbfb 100%);padding:9px 5px 10px 15px;font-size:13px;border-bottom:1px solid #c3cfd9;-webkit-transition:all .2s ease;-moz-transition:all .2s ease;transition:all .2s ease;}
#sections a:hover{color:#1c5380}
#sections a:active{background:#f1f2f4;border-bottom-color:#c3cfd9}
#sections li ul{display:none}
.extra{padding:5px 5px 5px 15px}
#content{width:700px;padding:40px 0 80px 40px;float:left}
#github-ribbon{position:absolute;top:0;right:0}
