@import "nib";
@import "lib/normalize";

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font: 14px/22px "Alegreya", serif;
  font-size-adjust:none;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  background: #F4F6EC;
}

a {
  color: #369;
}

inline-block() {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: top;
  if support-for-ie {
    & {
      *display: inline;
    }
  }
}