@import "base";

.error {
  width: 300px;
  padding: 30px;
  margin: 100px auto 0;
  text-align: center;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #CCCCCC;
  p {
    margin-bottom: 10px;
  }
}

h1 {
  font-size: 24px;
  margin: 0 0 20px;
  font-weight: bold;
}