#!coffee

# Server's own configuration.
server:
  port: 8080

# Specify namespace prefix, hostname and port for Redis server.
redis:
  namespace:  "docup"
  hostname:   "localhost"
  port:       6379

github:
  client_id:     process.env.GITHUB_CLIENT_ID
  client_secret: process.env.GITHUB_CLIENT_SECRET
