@import "nib";
global-reset();

body {
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 13px;
}

#container {
  width: 960px;
  margin: 50px auto;
}

#nav {
  float: left;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 50px;
  background: linear-gradient(top, #4981AD, #225785);
  a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    width: 960px;
    font-size: 24px;
    font-weight: bold;
  }
}

#content {
  width: 720px;
  padding: 10px 0 80px 40px;
  float: left;
}