@import "lib/normalize";

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font: 16px/24px "Alegreya", serif;
  font-size-adjust:none;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  background: #F4F6EC;
}

a {
  color: #369;
}

@mixin inline-block() {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: top;
  if support-for-ie {
    & {
      *display: inline;
    }
  }
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}